In [2]:
import pandas as pd

## Creating DataFrame

In [16]:
my_dictionary={"Fruit":["Apple","Banana","Grape"],"color":["Green","Yellow","Black"],
               "Price":[100,80,70]}

df=pd.DataFrame(my_dictionary)

df

    Fruit   color  Price
0   Apple   Green    100
1  Banana  Yellow     80
2   Grape   Black     70

## selecting single column

In [17]:
df1=pd.DataFrame(my_dictionary['Fruit'])
df1

        0
0   Apple
1  Banana
2   Grape

## Selecting single row

In [18]:
df.loc[0]

Fruit    Apple
color    Green
Price      100
Name: 0, dtype: object

## Selecting Multiple Column

In [20]:
df[['Fruit','Price']]

    Fruit  Price
0   Apple    100
1  Banana     80
2   Grape     70