In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('vgsales.csv')

In [3]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Find every game with the word "Mario" in its name

In [7]:
df[df['Name'].str.contains('Mario')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
...,...,...,...,...,...,...,...,...,...,...,...
12770,12772,Dance Dance Revolution: Mario Mix (JP sales),GC,2005.0,Simulation,Nintendo,0.00,0.00,0.05,0.00,0.06
13273,13275,Detective Conan: Marionette Symphony,3DS,2013.0,Adventure,Namco Bandai Games,0.00,0.00,0.05,0.00,0.05
15261,15264,Mario Tennis,3DS,NaN,Sports,NaN,0.00,0.00,0.02,0.00,0.02
16357,16360,Mario vs. Donkey Kong: Tipping Stars,WiiU,2015.0,Puzzle,Nintendo,0.00,0.00,0.01,0.00,0.01
16542,16545,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01

# Text to all lowercase or all uppercase using .str.lower() or .str.upper()

In [11]:
df['Genre']=df['Genre'].str.lower()

In [12]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,role-playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [13]:
df['Publisher']=df['Publisher'].str.upper()

In [14]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,sports,NINTENDO,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,platform,NINTENDO,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,racing,NINTENDO,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,sports,NINTENDO,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,role-playing,NINTENDO,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,platform,KEMCO,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,shooter,INFOGRAMES,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,racing,ACTIVISION,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,platform,WANADOO,0.01,0.00,0.00,0.00,0.01

# Find a specific substring and replace it with another one

In [15]:
df['Name']=df['Name'].str.replace('Mario','Super Mario')

In [17]:
df[df['Name'].str.contains('Super Mario')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Super Mario Bros.,NES,1985.0,platform,NINTENDO,29.08,3.58,6.81,0.77,40.24
2,3,Super Mario Kart Wii,Wii,2008.0,racing,NINTENDO,15.85,12.88,3.79,3.31,35.82
6,7,New Super Super Mario Bros.,DS,2006.0,platform,NINTENDO,11.38,9.23,6.50,2.90,30.01
8,9,New Super Super Mario Bros. Wii,Wii,2009.0,platform,NINTENDO,14.59,7.06,4.70,2.26,28.62
11,12,Super Mario Kart DS,DS,2005.0,racing,NINTENDO,9.81,7.57,4.13,1.92,23.42
...,...,...,...,...,...,...,...,...,...,...,...
12770,12772,Dance Dance Revolution: Super Mario Mix (JP sa...,GC,2005.0,simulation,NINTENDO,0.00,0.00,0.05,0.00,0.06
13273,13275,Detective Conan: Super Marionette Symphony,3DS,2013.0,adventure,NAMCO BANDAI GAMES,0.00,0.00,0.05,0.00,0.05
15261,15264,Super Mario Tennis,3DS,NaN,sports,NaN,0.00,0.00,0.02,0.00,0.02
16357,16360,Super Mario vs. Donkey Kong: Tipping Stars,WiiU,2015.0,puzzle,NINTENDO,0.00,0.00,0.01,0.00,0.01
16542,16545,Super Mario & Luigi: Paper Jam & Super Mario K...,3DS,2015.0,misc,NINTENDO,0.00,0.00,0.01,0.00,0.01